@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-help: var(--text-help);
  --color-text-gray: var(--text-gray);

  --color-card: var(--card);

  /* buttons */
  --color-border: var(--border);
  --color-btn: var(--btn);
  --color-btn-hover: var(--btn-hover);
  --color-btn-active: var(--btn-active);
  --color-btn-outline: var(--btn-outline);
  --color-btn-outline-hover: var(--btn-outline-hover);
  --color-btn-outline-active: var(--btn-outline-active);

  --color-error: var(--error);
  --color-attention: var(--attention);

  --color-star: var(--star);

  /* font sizes desktop */
  --text-h1-d: 70pt;
  --text-h2-d: 32pt;
  --text-h3-d: 25pt;
  --text-h4-d: 20pt;
  --text-h5-d: 18pt;
  --text-p1-d: 18pt;
  --text-p2-d: 16pt;

  /* font sizes mobile */
  --text-h4-m: 30pt;
  --text-h5-m: 25pt;
  --text-h6-m: 18pt;
  --text-p3-m: 16pt;
  --text-p4-m: 14pt;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);  
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', 'SF Pro Text', sans-serif;

  --background: #f0f1f2;
  --foreground: #000000;

  --text-help: #696969;
  --text-gray: #999999;

  --card: #303030;

  --border: #17814b;
  --btn: #17814b;
  --btn-hover: #4caf50;
  --btn-active: #0a6f3c;
  --btn-outline: #17814b;
  --btn-outline-hover: #4caf50;
  --btn-outline-active: #0a6f3c;

  --radius: 0.625rem;

  --error: #ff6262;
  --attention: #ff3b30;

  --star: #ffee00;

  /* font sizes desktop */
  --text-h1-d: 70pt;
  --text-h2-d: 32pt;
  --text-h3-d: 25pt;
  --text-h4-d: 20pt;
  --text-h5-d: 18pt;
  --text-p1-d: 18pt;
  --text-p2-d: 16pt;

  /* font sizes mobile */
  --text-h4-m: 30pt;
  --text-h5-m: 25pt;
  --text-h6-m: 18pt;
  --text-p3-m: 16pt;
  --text-p4-m: 14pt;
}

.dark {
  --background: #171b19;
  --foreground: #ffffff;
  --card: #ffffff;
}

@layer base {
  * {
    @apply border-border;
    /* outline-ring/50; */
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat);
  }
}

p {
  font-family: var(--font-roboto);
}

button {
  font-family: var(--font-montserrat);
}
