@import 'tailwindcss';
@import 'tw-animate-css';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme {
  --breakpoint-*: initial;
  /* --color-*: initial; */
}
@theme inline {
  /* breakpoints */
  --breakpoint-*: initial;

  --breakpoint-sm: 393px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-help: var(--text-help);
  --color-text-gray: var(--text-gray);
  --color-layout-background: var(--layout-background);
  --color-card: var(--card);
  --color-toggle: var(--toggle);
  --color-gradient: var(--gradient);
  --color-bg-icon: var(--bg-icon);
  --color-icon-color: var(--icon-color);
  --color-image-bg: var(--image-bg);

  /* buttons */
  --color-border: var(--border);
  --color-btn: var(--btn);
  --color-btn-text: var(--btn-text);
  --color-btn-hover: var(--btn-hover);
  --color-btn-active: var(--btn-active);
  --color-btn-outline: var(--btn-outline);
  --color-btn-outline-hover: var(--btn-outline-hover);
  --color-btn-outline-active: var(--btn-outline-active);
  --color-tag: var(--tag);

  --color-error: var(--error);
  --color-attention: var(--attention);

  --color-star: var(--star);
  --color-medicine: var(--medicine);
  --color-animal: var(--animal);
  --color-nature: var(--nature);

  /* font sizes and line-height desktop */
  --text-sm: 14px;
  --leading-sm: 16px;
  --text-base: 16px;
  --leading-base: 24px;
  --text-md: 18px;
  --leading-md: 26px;
  --text-lg: 32px;
  --leading-lg: 48px;

  --text-h1-d: 72px;
  --leading-h1-d: 92px;
  --text-h2-d: 48px;
  --leading-h2-d: 64px;
  --text-h3-d: 48px;
  --leading-h3-d: 64px;

  /* font sizes and line-height mobile */
  --text-h1: 32px;
  --leading-h1: 48px;
  --text-h2: 32px;
  --leading-h2: 48px;
  --text-h3: 24px;
  --leading-h3: 32px;

  --radius-sm: calc(var(--radius) - 8px); /*4px*/
  --radius-md: calc(var(--radius) - 2px); /*10px*/
  --radius-lg: var(--radius); /*12px*/
  --radius-xl: calc(var(--radius) + 4px); /*16px*/

  --spacing: 4px;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-size: 16px;

  /* --breakpoint-sm: 24.5625rem; 393px */
  /* --breakpoint-md: 48rem; 768px */
  /* --breakpoint-lg: 90rem; 1440px */
  /* --breakpoint-xl: 120rem; 1920px */

  --breakpoint-sm: 393px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;

  --background: #f1f1f1;
  --background-secondary: #303030;
  --foreground: #1b1b1b;
  --header-bg: #171b19;
  --footer-bg: #111215;
  --layout-background: #111215;
  --text-help: #696969;
  --text-gray: #999999;
  --white: #f1f1f1;
  --tag: #696969;

  --card: #e6e6e6;
  --toggle: #303030;

  --border: #17814b;
  --btn: #17814b;
  --btn-primary: #ffffff;
  --btn-secondary: #f1f1f1;
  --btn-text: #f1f1f1;
  --btn-hover: #4caf50;
  --btn-active: #0a6f3c;
  --btn-outline: #17814b;
  --btn-outline-hover: #4caf50;
  --btn-outline-active: #0a6f3c;

  --bg-icon: #171b19;
  --icon-color: #f1f1f1;
  --image-bg: #999999;

  /* --radius: 0.625rem; */
  --radius: 12px; /*0.75rem */

  --error: #ee0606;

  --star: #ffee00;
  --medicine: #1f5eff;
  --animal: #ff7d57;
  --nature: #4caf50;

  /* font sizes and line-height desktop */
  --h1-d: 72px;
  --line-h1-d: 92px;
  --h2-d: 48px;
  --line-h1-d: 64px;
  --h3-d: 48px;
  --line-h1-d: 64px;

  /* font sizes and line-height mobile/tablet */
  --h1: 32px;
  --line-h1: 48px;
  --h2: 32px;
  --line-h2: 48px;
  --h3: 24px;
  --line-h3: 32px;

  --gradient:
    linear-gradient(
      238.09deg,
      rgba(26, 211, 170, 0.15) 30.81%,
      rgba(0, 0, 0, 0.15) 82.23%,
      rgba(0, 0, 0, 0.15) 83.94%,
      rgba(26, 211, 170, 0.15) 129.53%
    ),
    radial-gradient(circle, rgba(26, 211, 170, 0.1) 2px, transparent 2px),
    linear-gradient(0deg, #0a6f3c, #0a6f3c);
  --font-size: 16px;
}
html {
  font-size: var(--font-size);
}
html {
  font-size: var(--font-size);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.dark {
  --background: #171b19;
  --background-secondary: #696969;
  --foreground: #f1f1f1;
  --card: #303030;
  --btn-secondary: #010101;
  --gradient:
    linear-gradient(
      238.09deg,
      rgba(26, 211, 170, 0.15) 30.81%,
      rgba(0, 0, 0, 0.15) 82.23%,
      rgba(0, 0, 0, 0.15) 83.94%,
      rgba(26, 211, 170, 0.15) 129.53%
    ),
    radial-gradient(circle, rgba(26, 211, 170, 0.1) 2px, transparent 2px);
  --bg-icon: #f1f1f1;
  --icon-color: #000000;
  --image-bg: #e9e9e9;
}

.bg-dots {
  background-image: var(--gradient);
  backdrop-filter: blur(4px);
  background-size:
    100% 100%,
    23.5px 23.5px,
    100% 100%;
}

.dark .bg-dots {
  background-size:
    100% 100%,
    23.5px 23.5px;
}

.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

/* Стиль для ховер (глянути як використати можна в ContactForm */
.btn-expand-hover {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.btn-expand-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--btn-hover) 50%,
    transparent 100%
  );
  transform: translateX(-50%);
  transition: width 0.4s ease;
  z-index: -1;
}

.btn-expand-hover:hover::before {
  width: 200%;
}
.faq-section {
  background-image: url('/src/assets/images/faq/linesBlack.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark .faq-section {
  background-image: url('/src/assets/images/faq/Lines.png');
}

/*---------------------------------------------------------------*/
@layer base {
  * {
    @apply border-border;
    transition:
      background-color 0.8s ease,
      color 0.8s ease;
    /* outline-ring/50; */
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat);
    line-height: 1.2;
    margin: 0 auto;
    zoom: 1;
  }

  button {
    font-family: var(--font-montserrat);
  }
}

@layer components {
  .my-container {
    @apply w-full mx-auto px-5;
    @apply sm:px-5 sm:max-w-[var(--breakpoint-sm)];
    @apply md:px-15 md:max-w-[var(--breakpoint-md)];
    @apply lg:px-20 lg:max-w-[var(--breakpoint-lg)];
  }

  .bg-hero {
    background-image: url(../../assets/images/hero/bg-hero.png);
  }

  .dropdown-link {
    border: 1px solid transparent;
    transition: border 1s ease-in-out;

    &:hover {
      border: 1px solid var(--border);
    }
  }

  @keyframes dropdown-fade {
    0% {
      opacity: 0;
      transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  .animate-dropdown-fade {
    animation: dropdown-fade 200ms ease-out forwards;
  }

  @keyframes dropdown-open {
    0% {
      opacity: 0;
      transform: translateY(-100px);
      max-height: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      max-height: 500px;
    }
  }

  .animate-dropdown-open {
    animation: dropdown-open 0.2s ease-out;
    /* transform: scaleY(100);
  max-height: 500px; */
  }
}

/* Стиль для authForm*/

.btn-auth {
  @apply bg-btn text-white cursor-pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/*---------------------------------------------------------------*/

.clickedBtn {
  background-color: var(--btn);
  color: #ffffff;
}
/*------------------utilities for scrollbar---------------------------*/
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 20px 0 !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--btn);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--btn);
    background-clip: padding-box;
  }

  /*----------------- Font-size utilites -------------------------------*/
  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }

  @media (min-width: 48rem) {
    .md\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--leading-sm);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--leading-sm);
    }
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--leading-base);
  }

  @media (min-width: 48rem) {
    .md\:text-base {
      font-size: var(--text-base);
      line-height: var(--leading-base);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-base {
      font-size: var(--text-base);
      line-height: var(--leading-base);
    }
  }

  .text-md {
    font-size: var(--text-md);
    line-height: var(--leading-md);
  }

  @media (min-width: 48rem) {
    .md\:text-md {
      font-size: var(--text-md);
      line-height: var(--leading-md);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-md {
      font-size: var(--text-md);
      line-height: var(--leading-md);
    }
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
  }

  @media (min-width: 48rem) {
    .md\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--leading-lg);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--leading-lg);
    }
  }

  .text-h1 {
    font-size: var(--text-h1);
    line-height: var(--leading-h1);
  }

  @media (min-width: 48rem) {
    .md\:text-h1 {
      font-size: var(--text-h1);
      line-height: var(--leading-h1);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-h1 {
      font-size: var(--text-h1);
      line-height: var(--leading-h1);
    }
  }

  .text-h1-d {
    font-size: var(--text-h1-d);
    line-height: var(--leading-h1-d);
  }

  @media (min-width: 48rem) {
    .md\:text-h1-d {
      font-size: var(--text-h1-d);
      line-height: var(--leading-h1-d);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-h1-d {
      font-size: var(--text-h1-d);
      line-height: var(--leading-h1-d);
    }
  }

  .text-h2 {
    font-size: var(--text-h2);
    line-height: var(--leading-h2);
  }

  @media (min-width: 48rem) {
    .md\:text-h2 {
      font-size: var(--text-h2);
      line-height: var(--leading-h2);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-h2 {
      font-size: var(--text-h2);
      line-height: var(--leading-h2);
    }
  }

  .text-h2-d {
    font-size: var(--text-h2-d);
    line-height: var(--leading-h2-d);
  }

  @media (min-width: 48rem) {
    .md\:text-h2-d {
      font-size: var(--text-h2-d);
      line-height: var(--leading-h2-d);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-h2-d {
      font-size: var(--text-h2-d);
      line-height: var(--leading-h2-d);
    }
  }

  .text-h3 {
    font-size: var(--text-h3);
    line-height: var(--leading-h3);
  }

  @media (min-width: 48rem) {
    .md\:text-h3 {
      font-size: var(--text-h3);
      line-height: var(--leading-h3);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-h3 {
      font-size: var(--text-h3);
      line-height: var(--leading-h3);
    }
  }

  .text-h3-d {
    font-size: var(--text-h3-d);
    line-height: var(--leading-h3-d);
  }

  @media (min-width: 48rem) {
    .md\:text-h3-d {
      font-size: var(--text-h3-d);
      line-height: var(--leading-h3-d);
    }
  }

  @media (min-width: 90rem) {
    .lg\:text-h3-d {
      font-size: var(--text-h3-d);
      line-height: var(--leading-h3-d);
    }
  }
}

/* Firefox specific styles */
@supports (scrollbar-width: thin) {
  .custom-scrollbar {
    scrollbar-width: 14px;
    scrollbar-color: var(--btn) transparent;
  }
}

/* Edge Legacy fix */
@supports (-ms-ime-align: auto) {
  .custom-scrollbar {
    -ms-overflow-style: none;
  }
}

/* Swiper Pagination */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--btn);
  border-radius: 50%;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.2);
  background-color: transparent;
  transition: transform 0.3s ease;
}
