@import 'tailwindcss';
@import 'tw-animate-css';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 24.5625rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 74.625rem;
  --breakpoint-xl: 120rem;

  --container-mobile: var(--mobile);
  --container-mob-plus: var(--mob-plus);
  --container-tablet: var(--tablet);
  --container-desktop: var(--desktop);

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-help: var(--text-help);
  --color-text-gray: var(--text-gray);
  --color-layout-background: var(--layout-background);
  --color-card: var(--card);
  --color-toggle: var(--toggle);

  /* buttons */
  --color-border: var(--border);
  --color-btn: var(--btn);
  --color-btn-hover: var(--btn-hover);
  --color-btn-active: var(--btn-active);
  --color-btn-outline: var(--btn-outline);
  --color-btn-outline-hover: var(--btn-outline-hover);
  --color-btn-outline-active: var(--btn-outline-active);

  --color-error: var(--error);
  --color-attention: var(--attention);

  --color-star: var(--star);

  /* font sizes desktop */
  --text-h1-d: var(--h1-d);
  --text-h2-d: var(--h2-d);
  --text-h3-d: var(--h3-d);
  --text-h4-d: var(--h4-d);
  --text-h5-d: var(--h5-d);
  --text-p1-d: var(--p1-d);
  --text-p2-d: var(--p2-d);

  /* font sizes mobile */
  --text-h4-m: var(--h4-m);
  --text-h5-m: var(--h5-m);
  --text-h6-m: var(--h6-m);
  --text-p3-m: var(--p3-m);
  --text-p4-m: var(--p4-m);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --mobile: 24.5625rem;
  --mob-plus: 48rem;
  --tablet: 74.625rem;
  --desktop: 120rem;

  --padding-mobile: 20px;
  --padding-tablet: 60px;
  --padding-desktop: 100px;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', 'SF Pro Text', sans-serif;

  --background: #f0f1f2;
  --foreground: #000000;
  --layout-background: #111215;
  --text-help: #696969;
  --text-gray: #999999;

  --card: #ffffff;
  --toggle: #303030;

  --border: #17814b;
  --btn: #17814b;
  --btn-hover: #4caf50;
  --btn-active: #0a6f3c;
  --btn-outline: #17814b;
  --btn-outline-hover: #4caf50;
  --btn-outline-active: #0a6f3c;

  --radius: 0.625rem;

  --error: #ff6262;
  --attention: #ff3b30;

  --star: #ffee00;

  /* font sizes desktop */
  --h1-d: 70px;
  --h2-d: 32px;
  --h3-d: 25px;
  --h4-d: 20px;
  --h5-d: 18px;
  --p1-d: 18px;
  --p2-d: 16px;

  /* font sizes mobile */
  --h4-m: 30px;
  --h5-m: 25px;
  --h6-m: 18px;
  --p3-m: 16px;
  --p4-m: 14px;
}

.roboto {
  font-family: var(--font-roboto);
}
.montserrat {
  font-family: var(--font-montserrat);
}

.dark {
  --background: #171b19;
  --foreground: #ffffff;
  --card: #303030;
}

/* Стиль для ховер (глянути як використати можна в ContactForm */
.btn-expand-hover {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.btn-expand-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--btn-hover) 50%,
    transparent 100%
  );
  transform: translateX(-50%);
  transition: width 0.4s ease;
  z-index: -1;
}

.btn-expand-hover:hover::before {
  width: 200%;
}

/*---------------------------------------------------------------*/
@layer base {
  * {
    @apply border-border;
    /* outline-ring/50; */
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat);
    line-height: 1.2;
    margin: 0 auto;
    @apply xs:max-w-[var(--breakpoint-xs)];
    @apply sm:max-w-[var(--breakpoint-sm)];
    @apply md:max-w-[var(--breakpoint-md)];
    @apply xl:max-w-[var(--breakpoint-xl)];
  }

  p {
    font-family: var(--font-roboto);
  }

  button {
    font-family: var(--font-montserrat);
  }
}

@layer components {
  .my-container {
    @apply w-full mx-auto px-5;
    @apply xs:px-5 xs:max-w-[var(--breakpoint-xs)];
    @apply sm:px-15 sm:max-w-[var(--breakpoint-sm)];
    @apply md:px-15 md:max-w-[var(--breakpoint-md)];
    @apply xl:px-25 xl:max-w-[var(--breakpoint-xl)];
  }

  .bg-hero {
    background-image: url(../../assets/images/hero/bg-hero.png);
  }

  .dropdown-link {
    border: 1px solid transparent;
    transition: border 1s ease-in-out;

    &:hover {
      border: 1px solid var(--border);
    }
  }

  @keyframes dropdown-fade {
    0% {
      opacity: 0;
      transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  .animate-dropdown-fade {
    animation: dropdown-fade 200ms ease-out forwards;
  }

  @keyframes dropdown-open {
    0% {
      opacity: 0;
      transform: translateY(-100px);
      max-height: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      max-height: 500px;
    }
  }

  .animate-dropdown-open {
    animation: dropdown-open 0.2s ease-out;
    /* transform: scaleY(100);
  max-height: 500px; */
  }
}

/* Стиль для authForm*/

.btn-auth {
  @apply bg-btn text-white cursor-pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/*---------------------------------------------------------------*/

.clickedBtn {
  background-color: var(--btn);
  color: #ffffff;
}
